.advantages__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-violet;
}

.advantages__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  @media (min-width: $vp-768) {
    font-size: 42px;
    line-height: 64px;
  }
}

.advantages__point {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $vp-768) {
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__description {
  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 24px;
  }
}

