.catalog {
  background-color: $color-base-grey;
  padding: 0 20px;

  @media (min-width: $vp-1440) {
    padding: 0 40px;
    display: grid;
    grid-template-areas:
    "title title"
    "heading  heading"
    "form card-list"
    "pagination pagination";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
  }
}

.catalog__title {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: $color-violet;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0 4px;

  @media (min-width: $vp-1440) {
    grid-area: title;
  }
}

.catalog__heading {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $vp-768) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $vp-1440) {
    grid-area: heading;
  }
}

.catalog__form {
  @media (min-width: $vp-1440) {
    grid-area: form;
  }
}

.catalog__sort-list {
  @media (min-width: $vp-1440) {
    grid-area: card-list;
  }
}

.catalog__pagination {
  @media (min-width: $vp-1440) {
    grid-area: pagination;
  }
}

.catalog__sort {
  display: grid;
  grid-template-columns: min-content 165px;
  column-gap: 7px;
  padding-right: 20px;
  max-width: 280px;
  margin-left: auto;

  @media(min-width: $vp-768) {
    padding-right: 0;
    padding-top: 5px;
  }
}

.catalog__sort-select {
  border: none;
  background-color: transparent;
  color: $color-violet;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  line-height: 24px;
  padding: 8px 8px;
  outline: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $color-border;
  }
}

.catalog__sort-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-top: 5px;
}
