.footer {
  @media (min-width: $vp-1440) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__wrapper {
  @media (min-width: $vp-768){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

.footer__info {
  border-bottom: 1px solid $color-border;
  padding: 20px;

  &--social {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $vp-768) {
    border-bottom: none;

    &--social {
      padding: 40px 20px 30px;
    }
  }

  @media (min-width: $vp-1440) {
    &--social {
      flex-direction: column;
    }

    padding: 49px 
  }
}

.footer__title {
  margin: 0;
  font-weight: 700;
  color: $color-violet;
  margin-bottom: 12px;
}

.footer__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 60px 60px 60px;
  gap: 20px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.footer__social-icon {
  padding: 10px;
  border-radius: 4px;
  fill: $color-light-grey;
}

.footer__social-link:focus .footer__social-icon,
.footer__social-link:hover .footer__social-icon {
  fill: $color-violet;
  background-color: $color-border;
}

.footer__social-link:active .footer__social-icon {
  background-color: rgba($color-violet, 0.25);
}

.footer__copyright-icon {
  fill: $color-light-grey;
}

.footer__copyright:hover .footer__copyright-text,
.footer__copyright:hover .footer__copyright-text {
  color: $color-violet;
}

.footer__copyright:active .footer__copyright-text {
  color: $color-dark-blue;
}

.footer__copyright:focus .footer__copyright-icon,
.footer__copyright:hover .footer__copyright-icon {
  fill: $color-violet;
}

.footer__copyright:active .footer__copyright-icon {
  fill: $color-dark-blue;
}

.footer__logo {
  @media (min-width: $vp-768) {
    width: 170px;
    height: 36px;
  }
}

.footer__logo-text {
  display: none;

  @media (min-width: $vp-1440) {
    display: block;
  }
}

.footer__contact {
  position: relative;
  padding-left: 20px;
  &:not(:last-child) {
    padding-bottom: 16px;
  }
}

.footer__contact-address::before {
  content: "";
  position: absolute;
  left: -6px;
  width: 13px;
  height: 16px;
  background: url(../../img/icons/stack.svg#address) no-repeat center/cover;
  display: block;
}

.footer__contact-phone::before {
  content: "";
  position: absolute;
  left: -6px;
  width: 13px;
  height: 16px;
  background: url(../../img/icons/stack.svg#phone) no-repeat center/cover;
  display: block;
}

.footer__link {
  text-decoration: none;
  font-family: inherit;
  color: $color-grey;
}

.footer__copyright {
  color: $color-light-grey;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  margin: 20px 0 30px;
}

.footer__phone {
  text-decoration: none;
  color: $color-grey;
}

.footer__info-copyright {
  width: 206px;
  margin: 0 auto;
}



