.footer__wrapper {
  @media (min-width: $vp-768){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
  }
}

.footer__info {
  bottom: 1px solid $color-border;

  @media (min-width: $vp-768) {
    border: none;
  }
}

.footer__title {
  font-weight: 700;
  color: $color-violet;
  margin-top: 20px;
  margin-bottom: 12px;
}

.footer__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

.footer__social-icon {
  padding: 10px;
  border-radius: 4px;
  fill: $color-light-grey;
}

.footer__social-link:focus .footer__social-icon,
.footer__social-link:hover .footer__social-icon {
  fill: $color-violet;
  background-color: $color-border;
}

.footer__social-link:active .footer__social-icon {
  background-color: rgba($color-violet, 0.25);
}

.footer__copyright-icon {
  fill: $color-light-grey;
}

.footer__copyright:hover .footer__copyright-text,
.footer__copyright:hover .footer__copyright-text {
  color: $color-violet;
}

.footer__copyright:active .footer__copyright-text {
  color: $color-dark-blue;
}

.footer__copyright:focus .footer__copyright-icon,
.footer__copyright:hover .footer__copyright-icon {
  fill: $color-violet;
}

.footer__copyright:active .footer__copyright-icon {
  fill: $color-dark-blue;
}
