.navigation {
  display: grid;
  grid-template-rows: auto auto;

  &--close {
    @media (max-width: $vp-767) {
    margin-left: auto;
    }
  }

 @media (min-width: $vp-768) {
   margin-left: auto;
   padding-left: 170px;
   display: flex;
 }
}

.navigation__list {
  position: relative;
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;

  @media (min-width: $vp-1440) {
    padding-right: 40px;
  }
}

.navigation__item {
  display: inline-block;
  position: relative;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;

  @media (min-width: $vp-768) {
    min-height: 80px;
  }

  &:active {
    background-color: $color-border;
  }
}

.navigation__link {
  padding: 22px;
  display: inline-block;
  text-decoration: none;
  color: $color-grey;

  @media (min-width: $vp-1440) {
    padding: 32px 20px 32px 44px;
  }
}

.navigation__link-icon {
  display: inline-block;
  position: absolute;
  top: 22px;
  left: 22px;

  @media (min-width: $vp-768) {
    top: 32px;
  }

  @media (min-width: $vp-1440) {
    left: 20px;
  }
}

.navigation__item:hover .navigation__link-icon {
  fill: $color-violet;
}

.navigation__list-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    order: -1;
    padding-right: 20px;
  }

  @media (min-width: $vp-1440) {
    padding-right: 40px;
  }
}

.navigation__item-menu {
  display: inline-flex;

  @media (max-width: $vp-767) {
    border-top: 1px solid $color-border;
    width: 100vw;
  }

  &:active {
    background-color: $color-border;
  }
}

.navigation__link-menu {
  margin: 0 auto;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: $color-grey;
  padding: 20px;
  text-decoration: none;
  display: inline-flex;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    padding: 32px 20px;
  }
}

.navigation__item-active {
  @media (min-width: $vp-768) {
    border-bottom: 2px solid $color-violet;
  }
}

.navigation__link-active {
  @media (min-width: $vp-768) {
    color: $color-violet;
  }

  &:active {
    background-color: $color-border;
  }
}

.navigation__link-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  display: none;
  margin: 0;
  @media (min-width: $vp-1440) {
    display: block;
  }
}

.navigation__button {
  position: absolute;
  top: 22px;
  right: 22px;
  padding: 0;
  width: 16px;
  height: 16px;
  display: none;
  border: none;
  box-sizing: border-box;
  background-color: $color-white;
}

.navigation--close .navigation__list-menu {
  @media (max-width: $vp-767) {
    display: none;
  }
}

.navigation--close .navigation__button {
  @media (max-width: $vp-767) {
    display: block;
    background: url("../../img/icons/stack.svg#menu") no-repeat center;
  }
}

.navigation--open .navigation__list-menu {
  @media (max-width: $vp-767) {
    display: block;
  }
}

.navigation--open .navigation__button {
  @media (max-width: $vp-767) {
    display: block;
    background: url("../../img/icons/stack.svg#menu-close") no-repeat center;
  }
}
