.page {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $ff-body;
  color: $color-grey;

  background-color: $color-black;
}
