.pagination {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pagination__item {
  border: 1px solid $color-white;
  background-color: $color-white;
  border-radius: 4px;;
}

.pagination__link {
  font-size: 16px;
  line-height: 24px;
  color: $color-violet;
  text-decoration: none;
  padding: 8px;

  &--active {
    font-weight: 600;
    color: $color-grey
  }
}

.pagination__show {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}
