$color-rose: #f3ebe1;
$color-violet: #7859cf;
$color-grey: #333333;
$color-black: #000000;
$color-white: #ffffff;
$color-base-grey: #f8f8f8;
$color-light-grey: #bdbdbd;
$color-border: #f0ebff;
$color-light: #e2e2e2;
$color-blue: #9070ec;
$color-dark-blue: #593cac;
$color-lavender: #eae6fc;
$color-espresso: #e5e6e8;

$vp-767: 767px;
$vp-768: 768px;
$vp-1440: 1440px;

$ff-body: "Montserrat", "Arial", sans-serif;
