$color-rose: #f3ebe1;
$color-violet: #7859cf;
$color-grey: #333333;
$color-black: #000000;
$color-white: #ffffff;
$color-base-grey: #f8f8f8;
$color-light-grey: #bdbdbd;

$vp-767: 767px;
$vp-768: 768px;
$vp-1440: 1440px;

$ff-body: "Montserrat", "Arial", sans-serif;
